@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: "sloth-semibold";
  src: url("../public/Sloth-SemiBold.ttf");
}
@font-face {
  font-family: "sloth-regular";
  src: url("../public/Sloth-Regular.ttf");
}
@font-face {
  font-family: "sloth-light";
  src: url("../public/Sloth-Light.ttf");
}

.carousel .slide {
  margin: 0 10px; /* Adjust the margin as needed */
}

/* If you have a specific class for each item, you can target it directly */
.carousel-item-class {
  margin: 0 10px; /* Adjust the margin as needed */
}

/* Styles the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Light grey track */
  border-radius: 10px;
}

/* Styles the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Darker grey thumb */
  border-radius: 10px;
  border: 3px solid #f4f4f4; /* Creates a little space between track and thumb */
}

/* Changes the thumb color when hovered or clicked */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker grey on hover */
}

/* Styles the scrollbar itself (width, height) */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* ,"#FF4654"] */