@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: "sloth-semibold";
  src: url("../public/Sloth-SemiBold.ttf");
}
@font-face {
  font-family: "sloth-regular";
  src: url("../public/Sloth-Regular.ttf");
}
@font-face {
  font-family: "sloth-light";
  src: url("../public/Sloth-Light.ttf");
}

.carousel .slide {
  margin: 0 10px; /* Adjust the margin as needed */
}

/* If you have a specific class for each item, you can target it directly */
.carousel-item-class {
  margin: 0 10px; /* Adjust the margin as needed */
}

